form
  .content
    border: 1px solid transparent;
    margin-bottom: 20px;
    border-radius: 2px;
    background-color: #fff;
    header
      padding: 10px 15px;
      border-bottom: 1px #23b7e5 transparent;
      border-radius: 2px 2px 0 0;
      color: #fff;
      background-color: #23b7e5;
    main
      padding: 15px;
      .button-wrapper
        padding: 10px 15px;
        border-top: 1px solid #edf1f2;
        border-radius: 0 0 2px 2px;
        background-color: #f6f8f8;
        text-align: right;
        button
          display: inline-block;
          min-width: 90px;
          padding: 6px 12px;
          margin-bottom: 0;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.42857143;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          cursor: pointer;
          border-radius: 2px;
          outline: 0;
          color: #fff;
          background-color: #23b7e5;
          border-color: #23b7e5;
          &:hover
            background-color: #19a9d5;
            border-color: #189ec8;
